{layout="_layouts/master"
	title="Home"
}

<section class="section--primary">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h1 class="flush">Primary Section</h1>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-half">
				<h2>Some Heading</h2>
				<p>Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.</p>
				<a class="btn--filled">Primary Filled</a>
			</div><div class="grid__item one-half">
				<h2>Another Heading</h2>
				<p>Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.</p>
				<a class="btn">Primary Unfilled</a>
			</div>
		</div>
	</div>
</section>
<section class="section--secondary">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h5>Secondary Section</h5>
				<hr>
				<br>
			</div>
			<div class="grid__item one-third centered">
				<h3>h3 Heading</h3>
				<p>Lorem ipsum Pariatur incididunt quis magna eu dolor ad adipisicing in enim dolore incididunt minim nulla exercitation.</p>
				<a class="btn--pill">Call to Action</a>
			</div><div class="grid__item one-third centered">
				<h3>h3 Heading</h3>
				<p>Lorem ipsum Excepteur aute ea labore fugiat amet deserunt voluptate laboris cillum Ut aute ullamco in quis cupidatat occaecat non.</p>
				<a class="btn--pill">Call to Action</a>
			</div><div class="grid__item one-third centered">
				<h3>h3 Heading</h3>
				<p>Lorem ipsum Ut consectetur aliquip laboris reprehenderit occaecat do velit eu incididunt dolor dolore commodo cupidatat esse pariatur.</p>
				<a class="btn--pill btn--filled">Call to Action</a>
			</div>
		</div>
	</div>
</section>
<section class="section--tertiary">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h5>Tertiary Section</h5>
				<hr>
				<br>
			</div>
		</div>
		<div class="grid floating floating--left">
			<div class="grid__item floating__item two-thirds">
				<h2>Steve Wozniak thinks Apple should have made a larger iPhone three years ago</h2>
				<p>Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.</p>
				<a class="btn">Call to Action</a>
			</div><div class="grid__item floating__item one-half centered">
				
			</div>
		</div>
	</div>
</section>
<section class="section--medium">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h5>Medium Section</h5>
				<hr>
				<br>
			</div>
		</div>
		<div class="grid floating floating--right">
			<div class="grid__item floating__item one-half centered">
				
			</div><div class="grid__item floating__item one-half">
				<h2>Yet Another Heading</h2>
				<p>Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.</p>
				<a class="btn">Call to Action</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h5>Regular Section</h5>
				<hr>
				<br>
			</div><div class="grid__item one-whole centered">
				<div class="constrained">
					<h2>Yet Another Heading</h2>
					<p>Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.</p>
					<a class="btn">Call to Action</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h5>Dark Section</h5>
				<hr>
				<br>
			</div><div class="grid__item one-quarter">
				<h4>h4 Heading</h4>
				<p>Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit.</p>
			</div><div class="grid__item one-quarter">
				<h4>h4 Heading</h4>
				<p>Lorem ipsum Eu non minim consequat sint dolor Duis Duis adipisicing et id Excepteur ex.</p>
			</div><div class="grid__item one-quarter">
				<h4>h4 Heading</h4>
				<p>Lorem ipsum Tempor esse est reprehenderit dolor aute sit aliqua consectetur laboris labore aliquip exercitation amet.</p>
			</div><div class="grid__item one-quarter">
				<h4>h4 Heading</h4>
				<p>Lorem ipsum Reprehenderit in aliquip minim in minim mollit elit consequat adipisicing est in qui reprehenderit laboris.</p>
			</div>
		</div>
	</div>
</section>